// Frame.scss
$button-gap: 10px;
$button-height: 300px;

.button-container {
  display: flex;
  gap: $button-gap;

  button {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;

    img {
      width: auto;
      height: $button-height;
    }
  }
}


